.bg-gray {
	background-color: @gray-bg;
}
.bg-grayl {
	background-color: @gray-l;
}
.bg-graym {
	background-color: @gray-m;
}
.bg-grayd {
	background-color: @gray-d;
}
.bg-blue {
	background-color: @blue !important;
}
.bg-bluel {
	background-color: @light-blue;
}
.bg-white {
	background-color: white;
}