// FONT STYLES
	.font-pt-regular {
		font-family: @main-font-regular;
		font-weight: 400;
	}
	.font-pt-bold {
		font-family: @main-font-regular;
		font-weight: 700;
	}


// FONT SIZES
	.font-small {
		font-size: @main-font-size*0.9;//12px
	}

	.font-regular {
		font-size: @main-font-size;//14px
	}

	.font-xregular {
		font-size: @main-font-size*1.3;//18px
	}

	.font-title {
		font-size: @main-font-size*1.7;//24px
	}

	.font-subheader {
		font-size: @main-font-size*2.14;//30px
	}
	.font-span {
		font-size: 30px;
	}
	.font-header {
		font-size: @main-font-size*3.57;//50px
		@media (max-width: 768px) {
			font-size: @main-font-size*2.57;
		}
	}
	.font-giant {
		font-size: @main-font-size*5;//130px
	    
	    @media (max-width: 1440px) { 
			font-size: @main-font-size*4;
	    }
	    @media (max-width: 40em) { 
			font-size: @main-font-size*3;
	    }

	}
	.font-subjumbo {
		font-size: 4em;
	}
	.font-jumbo {
		font-size: 8.429em;
	}