.navbar {
	&.navbar-default{
		background-color: white;
	}
	.navbar-brand {
		img {
			height: 100%;
		}		
		max-width: 250px;
		padding: 8px;
		margin-top: -10px; 
		@media (max-width: 768px) {
			margin-top: 22px;
		}

	}
	.navbar-nav {
		li {
			a {
				.font-pt-bold;
				.font-title;
				.text-blue;
				&:hover {
					.text-lblue;
				}				
			}
		}
		.bg-blue {
			li {
				a {					
					.text-white !important;
					font-size: 1.3em !important;					
					padding: 10px 20px;
				}
			}
		}
	}
	.nav {
		li {
			a {
				&:hover, 
				&:focus {
					.text-lblue !important;
				}
			}
		}
	}		
	@media (max-width: 768px) {
		padding-top: 0px;
	}
	min-height: 100px;
	padding-top: 30px;

}
.navbar-toggle {
    margin-top: 32px; 
}
.navbar-collapse {
	@media (max-width:768px) {
		margin-top: 24px;
	}
}
.navbar-format {
	.navbar-nav {
		padding-top: 30px;
		> li {
			a {
				.font-pt-regular;
				.font-title;
				.text-white !important;
				@media (max-width: 992px) {
					.font-xregular;
				}
				&:hover {
					.text-lblue;
				}
			}
			float: none;
		}
	}
	.nav-justified {
		> li {
			//&:last-child {
			//	width: 2%;
			//}
			//width: 2%;
		}
	}
	.nav {
		li {
			a {
				&:hover, 
				&:focus {
					background-color: @blue;
					color:#AAC7FC !important;
				}
			}
		}
	}
	.bg-blue;	
	margin-top: 80px;
	margin-bottom: 0px;
	padding-top: 0px;

}