.sidebar {
	.nav-tabs{
        li {
            &.active {
                a {
                    color: @gray-d;
                    background-color: white !important;
                    border: none;   
                }
            }
            a {
            	&:hover {
                  	border-color: transparent !important;
                }
                .text-gd;
                border-radius: 0px;
                margin-left: -20px;
        		margin-right: 0px;
        		@media (max-width: 768px){
        			padding-left: 0px;
                    text-align: center;
                    margin-left: 0px;
                    
        		}
            }
        }
        @media (max-width: 768px) {
        	text-align: left;
        }
        .font-pt-bold;
        .font-title;
        text-align: center;
        border-bottom: 0px;
        
    } 
	@media (max-height: 1000px) {
        //height: auto;       
    }
    @media (max-width:1200px) {
        //height: auto;       
    }
    @media (max-width: 768px) {
    	margin-top: 100px;
    	padding: 0px ; 
    }
	position: relative;
	top: 0px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: none;
	height: auto;
	background-color: transparent;

}
.nav-sidebar {
	margin-right: -21px;
	margin-bottom: 20px;
	
	&.nav {
		li {
			a {
				&:hover {
					.bg-white;
				}
			}
		}
	}
}
.nav-format {
    
        li {
            a{
                padding: 4px!important;
                font-size: 1em!important;
            }
        }
    
}