
// TEXT COLORS
.text-white {
    color: white;
}
.text-blue {
    color: @blue !important;
}
.text-lblue {
    color: @light-blue;
}
.text-gd {
    color: @gray-d;
}
.text-g {
    color: @gray-m;
}




