/* 
    Created on : 12/08/2014, 10:30:32
    Author     : alejandra
*/

//COLORES
@blue: #00579A;
@light-blue: #0081D1;
@gray-d: #666666;
@gray-m: #CCCCCC;
@gray-l: #E6E6E6;
@gray-bg: #F2F2F2;

//FUENTES
@main-font-regular: 'Mada', sans-serif;
@main-font-size: 0.875em;

body {
    .font-pt-regular;
}


//JUMBOTRON 
.jumbotron {
    img {
        min-width: 100%;
    }
    
    @media (max-width: 1200px) {
        margin-top: 12% !important;
    }
    @media (max-width: 768px) {
        margin-top: 14% !important;
    }
    @media (max-width: 560px) {
        margin-top: 20% !important;
    }
    @media (max-width: 320px) {
        margin-top: 33% !important;
    }
    padding: 0px;
    margin-top: 9%;
}
//FOOTER 
footer {
    ul {
        li {
            list-style: none;
            padding-bottom: 5px;
            a {
                color: inherit;
                .font-xregular;

                &:hover {
                    color: @gray-d;
                    text-decoration: none;
                }
            }
        }
        padding-left: 0px;
    }
    .col-lg-12 {
        padding: 50px 0px;        
    }
    h5 {
        .noMargin;
        .font-xregular;
        padding-bottom: 10px;
    }
    @media (max-width: 1200px) {
        .col-md-10 {
            img {
                margin: 0 auto;
                padding-bottom: 20px;
                max-width: 250px;
            }
            
            text-align: center;
        }
        li {
          padding-top: 10px;
        }
    }

}


// HELPERS

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /* inline-block space fix */
    margin-right:-4px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}

.overflow {
    overflow: hidden;
}

h1, h2, 
h3, h4, h5 {
    margin: 0px;
}

.text-right {
    text-align: right;
}

.border-bottom {
    border-bottom: 1px solid #E0E0E0;
}
// BOTTON

.btn-default{
    border-radius: 0px;
    padding: 8px 30px;
    &:focus {
        outline: 0px;        
    }    
}

// CALL TO ACTION
.call-to-action {
    h1 {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .btn-default {
        .font-pt-bold;
        .font-xregular;
        .text-blue;
        text-transform: uppercase;
        &:hover {
            background-color: lighten(@blue, 50%);
        }
        margin-bottom: 50px;
    }
    margin-top: 50px;
}

// INDEX BOXES
.index-box {
    @media (max-width: 768px) {
        text-align: center !important; 
    }
}
.gender-box {
    img {
        height: 188px;
        display: inline-block;
    }
    h3 {
        &:first-child {
         text-align: center; 
        }
    }
    @media (max-width: 768px){
        .col-lg-6 {
            margin-bottom: 50px;
        }
        img {
            //text-align: right;
        }
    }
    
}
.nse-box {
    h3 {
        padding-top: 20px;
    }
    .col-lg-3 {
        margin-bottom: 20px;
    }
    @media (max-width:1200px) {
        .text-gd {
            .font-title {
                text-align: center;
            }
        }
    }

}
.study-box {
    @media (max-width:1200px) {
        .text-right {
            text-align: center;
        }
        h3 {
            text-align: center;
            margin-bottom: 50px;
        }
    }
}
.social-box {
    h1 {
        @media (max-width: 1300px) {
            font-size: 2.5em;
        }
    }
    .la-cv {
        @media (max-width:1300px) {
            font-size: 1em;            
        }
        @media (max-width: 1200px) {
            font-size: 1.4875em;
        }
    }
}
.age-box {
    @media (max-width:1200px) {
        .text-right {
            text-align: center;
        }
        h3{
            text-align: center;
            margin-bottom: 50px;
        }        
    }
    @media (max-width:768px) {
        .font-subjumbo {
            font-size: 3em;
        }
        .font-subheader {
            font-size: 1.2em;
        }
    }

}
//TAB
.tab-pane {
    .bg-white,
    &.bg-white {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        @media (max-width:768px) {
            border: 0px;
        }
    }      
}
// MODAL
#specifications {
    .modal-footer {
        text-align: center !important;
    }
    ol {
        li {
           .font-pt-regular;
           .font-xregular;
        }
    }
    .col-lg-6 {
        .oblique {
            font-style: italic;
        }
       h4 {
        margin-bottom: 20px !important;
        margin-top: 15px;
       }
        p {
            .font-pt-regular;
            .font-xregular;            
        }
    }
    button {         
        &:hover,
        &:active,
        &:focus {
            .text-white;
            .bg-bluel;
            border-color: white;
        }
        @media (max-width:1200px) {
            .center-block;
            text-align: center;
            left: 0px;
        }

    }

}
// FORMAT CONTENT 

.format-content {
    
    .col-sm-2 {
        img {
            min-height: 30px;
            width: auto;
        }
    }
    button {         
        &:hover,
        &:active,
        &:focus {
            .text-white;
            .bg-bluel;
            border-color: white;
        }
        @media (max-width:1200px) {
            .center-block;
            text-align: center;
            left: 0px;
        }
    }
    
    .breadcrumb {
        li {
            a {
                color: @blue;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        padding: 8px 45px;
        background-color: white;
        border-radius: 0px; 
    }

    .col-lg-3 {
       &.marginBottom40 {
            @media (max-width: 992px){
                .center-block;    
            }
        
       }
    }
           
    @media (max-height: 900px) {
        //height: auto;       
    }
    @media (max-width:1200px) {
        //height: auto;       
    }
    @media (max-width: 768px) {
        padding: 0px;
    }
    padding: 20px;
    height: auto;
}
.nav-tabs {
   
    li {
        a {
            .text-blue !important;
            padding: 10px !important;
            border-radius: 0px !important;
        }
    }
    @media (max-width:768px){

        .tab-pane {
            &.bg-white {
                border: 0px;
            }
        }
        li,
        .active {
            a {
                border: 0px !important;
                //margin-right: -15px;
                //margin-left: -15px; 
                &:hover {
                    border: 0px;
                    background-color: white;
                }
            }
        }
    }
}
.position-content {
     .tab-pane {
        @media (max-width:768px){
            &.bg-white {
                border: 0px;
            }
        }
            
    }
    .tab-content {
        @media (max-width:768px) {
            margin-right: -15px;
            margin-left: -15px;
        }
    }
    .visible-xs-block {
        margin-top: 100px;
        @media (max-width:768px) {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .nav-tabs {
        @media (max-width:768px){
            .tab-pane {
                &.bg-white {
                    border: 0px;
                }
            }
            li,
            .active {
                a {
                    border: 0px;
                    margin-right: -15px;
                    margin-left: -15px; 
                    &:hover {
                        border: 0px;
                        background-color: white;
                    }
                }
                padding-top: 0px !important;
            }
            margin-top: 0px !important; 
        }
    }
    .breadcrumb {
        li {
            a {
                color: @blue;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        padding: 8px 15px;
        background-color: white;
        border-radius: 0px; 
        margin-top: 50px;
     }
    
    img {
        border: 1px solid @gray-m; 
    }
    .col-xs-6 {
        ul {
            li {
                a {
                    .font-xregular;
                    
                }
                padding-bottom: 5px;
            }
        }
        @media (max-width:768px){
            ul {
                li {
                   a {                    
                    padding: 0px;
                   }
                }
                padding-left: 0px;
            }
        }       

    }
    ul {
        li {
            a{
                color: @gray-d;
                //padding: 0px 10px;
                &:hover {
                    text-decoration: none;
                    color: darken(@gray-d, 20%)
                }
            }   
            &:first-child {
                padding-top: 10px;
            }

            list-style: none;

     
        }
    }
}

.contact-content {
    p,
    a {
        .font-pt-regular;
        .font-xregular;
        .text-blue;        
    }
    a {
        color: darken(@blue, 10%) !important;
        &:hover {
            color: lighten(@blue, 30%) !important;
            text-decoration: none;
        }
    }
    button {
        &:hover {
            color: lighten(@blue, 50%);
        }
        @media (max-width:768px){
            .center-block;
        }
    }
    img {
        margin-top: 50px;
        @media (max-width:768px){
            .center-block;
            margin-top: 0px;
        }
    }
    .contact {
        @media (max-width:768px){           
            text-align: center;
        }
    }
    min-height: 70%;
    margin-top: 100px;
}


//MARGINS AND PADDINGS
.noMargin {
    margin: 0px !important;
}

.noMarginBottom {
    margin-bottom: 0px;
}
.marginBottom20 {
    margin-bottom: 15px;
}
.marginBottom40 {
    margin-bottom: 30px;
}
.marginBottom60 {
    margin-bottom: 45px;
    @media (max-width: 768px) {
        margin-bottom: 5% !important;
    }
}
.marginBottom80 {
    margin-bottom: 65px;
}

.marginTop15p {
    margin-top: 12% !important; 
}
.marginTop20 { 
    margin-top: 15px !important;
 }
.marginTop60 {
    margin-top: 45px !important;
    @media (max-width: 768px) {
        margin-top: 5% !important;
    }
}


.paddingBottom50 {
    padding-bottom: 40px;
}

.paddingLeft50 {
    padding-left: 100px !important;
    @media (max-width: 1550px) {
        padding-left: 5% !important;
    }
}


.paddingAll10 {
    padding: 5px 10px;
}
.paddingAll30 {
    padding: 26px;
}
.paddingAll20 {
    padding: 18px;
}
.paddingAll50 {
    padding: 40px 0px; 
    @media (max-width: 1550px) {
        padding: 5% 0% !important;
    }
}
.absolute {
    position: absolute;
    right: 50px;
    padding: 10px;

    h4 {
        margin-bottom: 5px;
    }
}



@import	(less) "_font.less";

@import	(less) "_text.less";

//@import (less) "_buttons.less";

@import (less) "_navbar.less";

@import (less) "_background.less";

@import (less) "_sidebar.less";

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);